<!doctype html>
<html>
    <body>
            <h2>Available {{x.category}} are :</h2>
            {% with messages= get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for m1 in messages %}
                <li><b>{{m1}}</b></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        {% for i in items%}
        
        <p>Name-{{i.name}}</p>
        <p>Description-{{i.description}}</p>
        <p>Price-{{i.price}}</p>
        <p>Offer-{{i.offer}}</p>
       <p> <a href='{{url_for('DeleteItem', supermart_category_id=supermart_category_id ,category_id=i.id)}}'>
            Delete Item</a>
            </p>
        {%endfor%}
        <a href = '{{url_for('AddNewItem', supermart_category_id = supermart_category_id) }}'>
            Add New Item</a>
            <br>
            
    
    </body>
</html>